section{
  width: 100%;
  padding: 10px 10px 20px;
  border-right: solid 1px #ccc;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;

  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  p{
    margin-bottom: 10px;
  }
}


.list-tasks {
  width: 500px;
  max-width: 100%;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
}

.card-task {
  min-height: 40px;
  padding: 8px 8px 8px 12px;
  border-radius: 8px;

  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;

  &:last-child {
    border: none;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.card-task

.list-tasks.cdk-drop-list-dragging .card-task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.card-placeholder {
  background: rgba(204, 204, 204, 0.2);
  min-height: 40px;
  border: dotted 3px #666666;
  border-radius: 8px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
